@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*Astsrisk wildcard selector to override default styles added by the browser*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles*/

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    /* generic project styles*/
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;

}






/* Header */
header {
    background-color: #FFFFFF;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit; 
}



#logo {
    font-family: 'Lexend', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #6b40ef;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
    font-family: 'Arimo', sans-serif;
}

#menu > li {
    margin-bottom: 1em;
}

/* Navbar styles with dropdown toggle*/
nav {
    position: absolute;
    background-color: #FFFFFF;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}


/* Nav toogle */
#nav-toggle:checked~nav {
    display: block;
}











/* Main content*/
main {
    background-color: lightblue;
    /* Make main element take up any surplus spaceto push footer down*/
    flex: 1 0 auto;
}


/*Footer*/
footer {
    background-color: orange;
}

